.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-shrink: 1;
}

.logopng {
  height: 35px;
  width: auto;
}

.logoname {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff7a00;
  white-space: nowrap;
}
.navbar .profile{
    width: 40px;
}